{% extends 'base.html' %}

{% block content %}
<h2>Edit Payment</h2>

 

<form method="POST" action="{% url 'edit_payment' payment.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="paymentAmount">Amount</label>
        <input type="number" id="paymentAmount" name="amount" value="{{ payment.amount }}" required>
    </div>
    <div class="form-group">
        <label for="paymentDate">Date</label>
        <input type="date" id="paymentDate" name="date" value="{{ payment.date }}" required>
    </div>
    <div class="form-group">
        <label for="paymentHostel">Hostel</label>
        <select id="paymentHostel" name="hostel" required>
            {% for hostel in hostels %}
            <option value="{{ hostel.id }}" {% if hostel.id == payment.hostel.id %}selected{% endif %}>{{ hostel.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn">Update Payment</button>
</form>
<a href="{% url 'manage_payments' %}" class="btn btn-secondary">Back to Manage Payments</a>
{% endblock %}
