{% extends 'base.html' %}

{% block content %}
<h2>Edit Hostel</h2>



<form method="POST" action="{% url 'edit_hostel' hostel.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="hostelName">Hostel Name</label>
        <input type="text" id="hostelName" name="name" value="{{ hostel.name }}" required>
    </div>
    
    <div class="form-group">
        <label for="hostelLocation">Location of Hostel</label>
        <input type="text" id="hostelLocation" name="location" value="{{hostel.location}}" required>
    </div>
    
    <div class="form-group">
        <label for="totalRooms">Total Rooms</label>
        <input type="number" id="totalRooms" name="total_rooms" value="{{ hostel.total_rooms }}" min="1" required>
        
    </div>

    <div class="form-group">
        <label for="hostelOwner">Owner</label>
        <select id="hostelOwner" name="owner" required>
            {% for owner in hostel_owners %}
            <option value="{{ owner.id }}" {% if owner.id == hostel.owner.id %}selected{% endif %}>{{ owner.name }}</option>
            {% endfor %}
        </select>
    </div>

    <input type="hidden" name="is_active" value="True">
    
    <div class="form-actions">
        <button type="submit" class="btn">Update Hostel</button>
        <a href="{% url 'manage_hostels' %}" class="btn btn-secondary">Back to Manage Hostels</a>
    </div>
</form>
{% endblock %}
